<!DOCTYPE html>
<html lang="eng">
    <head>
        <%-  include('../partials/head'); %>
    </head>

    <body>
        <div class="container">
            <header>
                <%-  include('../partials/header'); %>
            </header>
            <main>
                <div class="jumbotron">
                    <h1>
                        CIS329 - Spring 2024
                    </h1>
                    <p>
                        Templating in fun!
                    </p>
                </div>

            </main>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>


        </div>
    </body>

</html>